.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 0.5em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .btn span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .btn span:nth-child(6) {
    position: relative;
  }
  
  .btn span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .btn span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .btn span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .btn span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .btn span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .btn :hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
  .input {
    
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }
  .card {
    box-sizing: border-box;
    width: 390px;
    height: 454px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    position: absolute;
    top: 23%;
    left: 37%;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .form-group {
    margin-top: 20px;
  }